@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


input {
  color: #242424;
}

.dark input {
    color: #f9f9f9;
}

textarea {
  color: #242424;
}

.dark textarea {
  color: #f9f9f9;
}

.closeButton {
  background-color: transparent;
  color: silver;

}
.closeButton:hover {
  color: black;
  opacity: 80;
}

.dark .closeButton:hover {
  color: white
}
